<div class="footer">
  <div class="footer-inner">
    <div class="footer-content">
      <span class="bigger-120">
        <span class="blue bolder">Ace</span>
        Application &copy; 2013-2014
      </span>

      &nbsp; &nbsp;
      <span class="action-buttons">
        <a href="https://github.com/ChungPhamVan" target="_blank">
          <i class="ace-icon fab fa-github light-blue bigger-150"></i>
        </a>

        <a href="https://www.facebook.com/simple.date.format" target="_blank">
          <i class="ace-icon fab fa-facebook text-primary bigger-150"></i>
        </a>

        <a href="#" target="_blank">
          <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
        </a>
      </span>
    </div>
  </div>
</div>