<% if(errorsArr != "") { %> 
  <!-- Nếu có lỗi validation -->
  <% errorsArr.forEach((item) => { %>
    <script>openDangky();</script>
    <div class="alert alert-danger"><%- item %></div>
  <% }); %>
<% } %>

<% if(successArr != "") { %>
  <script>openDangnhap();</script>
  <div class="alert alert-success"><%- successArr %></div>
<% } %>

<% if(errorsArr_dangnhap.length) { %>
  <script>openDangnhap();</script>
  <div class="alert alert-danger"><%= errorsArr_dangnhap %></div>
<% } %>

<% if(success_dangxuat.length) { %>
  <script>
    openDangnhap();
  </script>
  <div class="alert alert-success"><%= success_dangxuat %></div>
<% } %>